* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.navigation {
  background-color: rgb(255, 255, 255);
  /* position: fixed; */
}
h6 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  width: fit-content;
  padding: 5px 10px;
}
h6:hover {
  color: rgb(0, 84, 81);
  border: 1px solid rgb(175, 0, 149);
  transform: scale(1.08);
  transition: 0.8s;
}

.nav-position {
  position: fixed;
  background-color: black;
}
.sign-in-out {
  margin-left: 5rem;
}
@media only screen and (max-width: 640px) {
  .navigation {
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
  }

  .nav-position {
    position: fixed;
    background-color: rgb(208, 87, 0);
  }
  .sign-in-out {
    margin-right: 0;
  }
}
