* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  overflow: hidden;
  background: rgb(255, 255, 255);
  width: 100%;
}
h6 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  width: fit-content;
  padding: 5px 10px;
}
h6:hover {
  background: rgb(199, 190, 190);
  transition: .5s;
}
.sign-in-out {
  margin-left: 5rem;
}
@media only screen and (max-width: 640px) {
  h6 {
    color: rgb(255, 255, 255);
  }
  .navigation {
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
  }

  .nav-position {
    position: fixed;
    background-color: rgb(208, 87, 0);
  }
  .sign-in-out {
    margin-right: 0;
  }
}
